body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.login-container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 10vh;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin: 10px 0;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button {
    width: 70%;
    padding: 10px;
    background: #427616;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.alert {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #427616;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background: #427616;
}

.btn-primary:hover {
    background: #427616;
}

.text-gray-600 {
    color: #6B7280;
}

/* Adjusted logo size */
img {
    max-width: 40%;
    height: auto;
    display: block;
    margin: 0 auto;
}
